<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Indian cricket team in 2021 t20 world cup - current stories</title>
    </head>
    <body>
        
        <p>
		
		The 2021 T20 World Cup warm-up fixtures are scheduled to take place in the UAE between October 12 and October 20.

	Teams featuring in the initial qualifier round will face-off against two oppositions from alternate groups on October 12 and October 14. 

	Group A consists of Sri Lanka, Ireland, Netherlands and Namibia. Bangladesh, Scotland, Papua New Guinea and Oman are placed in Group B.

	The Group Stage qualifier round fixtures will then take place from October 17 to October 22. 

	Meanwhile, the top eight teams who are placed in Group 1 and Group 2 of the Super12 stage will have their round of warm-ups on October 18 and 20. 

	The Super12 stage will then get underway in Abu Dhabi on October 23.
		
		
		Given that Pakistan have virtually qualified for the semi-final stage after beating India, New Zealand, and Afghanistan, there’s only one spot remaining from Group 2.

Afghanistan are second having won two games out of their three so far. Pakistan top the group with six points.

Victory for Kane Williamson's men moved the Black Caps up to third with two points from two games and a better net run-rate than Namibia, who are fourth with two points.

		
        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="d2.html">Can they still qualify to the semi finals?</a></li>
            <li><a href="d3.html">After the world cup - 2022 schedule</a></li>
        </ul>
    </body>
</html>