<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ipl 2022 - big festival</title>
    </head>
    <body>
        
        <p>
		On 13 September 2007,[17] on the back of India's victory at the 2007 T20 World Cup,[18] BCCI announced a franchise-based Twenty20 cricket competition called Indian Premier League. The first season was slated to start in April 2008, in a "high-profile ceremony" in New Delhi. BCCI vice-president Lalit Modi, who spearheaded the IPL effort, spelled out the details of the tournament including its format, the prize money, franchise revenue system and squad composition rules. It was also revealed that the IPL would be run by a seven-man governing council composed of former India players and BCCI officials and that the top two teams of the IPL would qualify for that year's Champions League Twenty20. Modi also clarified that they had been working on the idea for two years and that the IPL was not started as a "knee-jerk reaction" to the ICL.[17] The league's format was similar to that of the Premier League of England and the NBA in the United States.[16]

In order to decide the owners for the new league, an auction was held on 24 January 2008 with the total base prices of the franchises costing around $400 million.[16] At the end of the auction, the winning bidders were announced, as well as the cities the teams would be based in: Bangalore, Chennai, Delhi, Hyderabad, Jaipur, Kolkata, Mohali, and Mumbai.[16] In the end, the franchises were all sold for a total of $723.59 million.[19] The Indian Cricket League soon folded in 2008.[20]
        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="d1.html">Indian cricket team in 2021 t20 world cup - current stories</a></li>
        </ul>
    </body>
</html>