<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NEW BORN BABY</title>
    </head>
    <body>
        
        <p>
		First off, it's perfectly normal if your newborn looks funny. Few newborns look like beauty contest winners, which isn't surprising when you consider what they've been through. If you had a vaginal birth, your baby's head may look misshapen or kind of pointy. It will return to its original shape in a week or two.

In addition to a pointy head, your newborn may have swollen genitals and breasts (caused by hormones from Mom just before birth) and reddish-purple skin that changes to pinkish-red in a day or so. (That's true for babies of all races and ethnicities.) The pink tint comes from the red blood vessels that are visible through your baby's still-thin skin. Because your baby's circulation is still maturing, their tiny hands and feet may look blue for a few days, too.

At first, your child's skin is likely to be a shade or two lighter than their eventual skin color. The skin may darken and reach its natural color in the first two to three weeks, though this process can take longer – even a few years – for darker-skinned children.

Because they were curled up inside your uterus until very recently, your newborn will probably look scrunched up for a while, with their arms and legs not fully extended. Your baby may even appear bowlegged. Don't worry; over the coming weeks and months, your baby will stretch out little by little.

Newborn milestones
The three big activities for newborns are eating, sleeping, and pooping. These things are crucial to master, so you won't see a lot of specific developmental milestones just yet. Your baby is brand-new, and their main job is learning how to live outside the womb.

But generally speaking, here are a few newborn milestones that you can look forward to (and several cool reflexes your baby is born with):

Moro (startle) reflex. The Moro – or startle – reflex causes your baby to automatically arch their back, extend their arms and legs, and sometimes cry out when they sense a loud noise or a sudden movement. Newborns can have these reactions even during sleep, but the reflex goes away after three to six months.
Sucking reflex. Your baby will start sucking when anything is placed in their mouth. Your baby knows how to eat! But it still takes practice to get enough milk. To breastfeed successfully, your baby has to learn to suck in two ways: first, how to draw out your nipple and get the milk flowing, and then a deeper sucking to swallow the milk. And they have to do all that while breathing and staying latched to your breast. It's a lot to learn, so if your baby is having any trouble latching on or getting milk, be sure to ask a nurse or lactation consultant for help.
Rooting reflex. Your baby's rooting reflex helps them find your breast and learn how to eat. When you touch your newborn's cheek, lips, or mouth with your finger or nipple, your baby will turn their head to face you and open their mouth.
Stepping reflex. Another newborn reflex, the stepping reflex, makes it looks like your baby is taking steps if you hold them upright with their feet on a flat surface.
Grasping reflex. Your baby has an instinctive grasping reflex. Touch your baby's palm, and they'll curl their tiny fingers around yours. This movement is involuntary for now. Most newborn reflexes disappear after babies are about three months old.
Self-soothing. Babies love and need to suck, so don't discourage it. In fact, you may have already discovered that pacifiers live up to their name, often working wonders in helping to calm your baby down. (If you're nursing, it's best to wait until breastfeeding is well established before you offer a pacifier.) When your breast, your finger, or the "binky" isn't available, your baby may even be able to find their thumb or fingers to soothe themselves.
Vision. Your baby's eyesight is still pretty fuzzy. Babies are born nearsighted, so they see things best when they're 10 inches or less away. That means they can only see your face clearly when you're holding them close. Even this early, babies can recognize faces and gestures intuitively – and sometimes even imitate them. Try putting your face close to your baby's and sticking out your tongue or raising your eyebrows a few times. Then give your baby some time to mimic your gesture.
Tummy time. It's not too soon for your baby to start doing tummy time. Babies need to spend time on their bellies every day to strengthen their neck muscles, which will help them push up, roll over, sit up, and crawl. Tummy time will also help your baby avoid developing a flat spot on their head from lying on their back. By the end of the fourth week, your baby may lift their head briefly when they're lying on their stomach, and possibly move it from side to side. Try putting your face in front of your baby's to encourage them to hold up their head to look at you.

        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="e2.html">BABY PRODUCTS</a></li>
            <li><a href="e3.html">PLAYSCHOOLS</a></li>
			<li><a href="e4.html">VACCINATION</a></li>
            <li><a href="e5.html">CHILD SUPPORT</a></li>
        </ul>
    </body>
</html>