<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VACCINATION</title>
    </head>
    <body>
        
        <p>
		It’s difficult to see your little darling get a vaccination shot, but experts agree that vaccinations are vital to prevent children from dangerous illnesses. 
		Thanks to vaccines, your child’s less likely to catch a serious illness like whooping cough, measles, mumps, Hib meningitis, meningococcal disease, pneumococcal disease, hepatitis, or polio.
		Learn about the recommended immunizations for your baby, and which shots to expect at your child’s next medical checkup.
		
		Children are highly susceptible to catching infections and diseases, especially in their early years. This is because their immune system – which is the body’s defence system against infection-causing microorganisms (pathogens) – is not fully developed yet.

		The role of the immune system is to protect the body by battling against pathogens. 

		However, some pathogens can overwhelm the immune system, and when this happens, the child falls sick. 
		
		It is usually the pathogens that cannot be recognized by the body that lead to problems.

		When children get their vaccine shots, it helps the immune system to recognize which organism is harmful and how to eliminate it. 

		This way the body is prepared to fight pathogens when they attack, and your child is immunized from illnesses.

	   </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="e5.html">CHILD SUPPORT</a></li>
        </ul>
    </body>
</html>