<!DOCTYPE html>
<html lang="en">
    <head>
        <title>African schools</title>
    </head>
    <body>
        
        <p>
		In Western Africa, the term school can also refer to "bush" schools, Quranic schools, or apprenticeships. These schools include formal and informal learning.

Bush schools are training camps that pass down cultural skills, traditions, and knowledge to their students. Bush schools are semi similar to traditional western schools because they are separated from the larger community.

 These schools are located in forests outside of the towns and villages, and the space used is solely for these schools. Once the students have arrived in the forest, they are not allowed to leave until their training is complete. Visitors are absolutely prohibited from these areas.[13] Instead of being separated by age, Bush schools are separated by gender. Women and girls are not allowed to enter the territory of the boys' bush school and vice versa. Boys receive training in cultural crafts, fighting, hunting, and community laws among other subjects.[14] Girls are trained in their own version of the boys' bush school. They practice domestic affairs such as cooking, childcare, as well as how to be a good wife. Their training is focused on how to be a proper woman by societal standards.

Qur’anic schools are the principle way of teaching the Quran and knowledge of the Islamic faith. These schools also fostered literacy and writing during the time of colonization. 

Today, the emphasis is on the different levels of reading, memorizing, and reciting the Quran. Attending a Qur’anic school is how children become recognized members of the Islamic faith. Children often attend state schools and a Qur’anic school.

In Mozambique, specifically, there are two kinds of Qur’anic schools. They are the tariqa based and the Wahhabi-based schools. What makes these schools different is who controls them.

 Tariqa schools are controlled at the local level while the Wahhabi are controlled by the Islamic Council.[15] Within the Qur’anic school system, there are levels of education. 
 
 They range from a basic level of understanding, called chuo and kioni in local languages, to the most advanced which is called ilimu.[16]

In Nigeria, the term school broadly covers daycares, nursery schools, primary schools, secondary schools and tertiary institutions. Primary and secondary schools are either privately funded by religious institutions and corporate organisations, or government-funded. Government-funded schools are commonly referred to as public schools. Students spend 6 years in primary school, 3 years in junior secondary school and 3 years in senior secondary school. The first 9 years of formal schooling is compulsory under the Universal Basic Education Program (UBEC).[17] Tertiary institutions include public and private universities, polytechnics, and colleges of education.

 Universities can be funded by the federal government, state governments, religious institutions or individuals and organisations.
        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="f8.html">Components of a school</a></li>
			<li><a href="f9.html">Security and health services</a></li>
			<li><a href="f10.html">Online schools and classes</a></li>
        </ul>
    </body>
</html>