<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SOURCES OF FOOD</title>
    </head>
    <body>
        
        <p>
		Many plants and plant parts are eaten as food and around 2,000 plant species are cultivated for food. Many of these plant species have several distinct cultivars.[14]

Seeds of plants are a good source of food for animals, including humans, because they contain the nutrients necessary for the plant's initial growth, including many healthful fats, such as omega fats. In fact, the majority of food consumed by human beings are seed-based foods. Edible seeds include cereals (corn, wheat, rice, et cetera), legumes (beans, peas, lentils, et cetera), and nuts. Oilseeds are often pressed to produce rich oils - sunflower, flaxseed, rapeseed (including canola oil), sesame, etc.[15]

Seeds are typically high in unsaturated fats and, in moderation, are considered a health food. However, not all seeds are edible for humans. Large seeds, such as those from a lemon, pose a choking hazard, while seeds from cherries and apples contain cyanide which could be poisonous only if consumed in large volumes.[16] Birds are also well-known for feeding on seeds (for more information, see birdseed).

Fruits are the ripened ovaries of plants, including the seeds within. Many plants and animals have coevolved such that the fruits of the former are an attractive food source to the latter, because animals that eat the fruits may excrete the seeds some distance away. Animals that eat fruits are known as frugivores. One such coevolutionary relationship involves primates, who are primarily frugivorous.[17] Fruits, therefore, make up a significant part of the diets of most cultures. Some botanical fruits, such as tomatoes, pumpkins, and eggplants, are eaten as vegetables.[18] (For more information, see list of fruits.)

Vegetables are a second type of plant matter that is commonly eaten as food. These include root vegetables (potatoes and carrots), bulbs (onion family), leaf vegetables (spinach and lettuce), stem vegetables (bamboo shoots and asparagus), and inflorescence vegetables (globe artichokes and broccoli and other vegetables such as cabbage or cauliflower).[19]

Animals are used as food either directly or indirectly by the products they produce. Meat is an example of a direct product taken from an animal, which comes from muscle systems or from organs (offal).

Food products produced by animals include milk produced by mammary glands, which in many cultures is drunk or processed into dairy products (cheese, butter, etc.). In addition, birds and other animals lay eggs, which are often eaten, and bees produce honey, a reduced nectar from flowers, which is a popular sweetener in many cultures. Some cultures consume blood, sometimes in the form of blood sausage, as a thickener for sauces, or in a cured, salted form for times of food scarcity, and others use blood in stews such as jugged hare.[20]

Some cultures and people do not consume meat or animal food products for cultural, dietary, health, ethical, or ideological reasons. Vegetarians choose to forgo food from animal sources to varying degrees. Vegans do not consume any foods that are or contain ingredients from an animal source.
        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="g3.html">TYPES OF FOOD</a></li>
			<li><a href="g4.html">TASTE PERCEPTION</a></li>
			<li><a href="g5.html">CUISINE</a></li>
			<li><a href="g6.html">ECONOMY</a></li>
			<li><a href="g7.html">PROBLEMS</a></li>
			<li><a href="g8.html">POLICY</a></li>
			<li><a href="g9.html">SAFETY</a></li>
			<li><a href="g10.html">DIET</a></li>
        </ul>
    </body>
</html>