<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROBLEMS</title>
    </head>
    <body>
        
        <p>
		Because of its centrality to human life, problems related to access, quality and production of food effect every aspect of human life.

Nutrition and dietary problems
Between the extremes of optimal health and death from starvation or malnutrition, there is an array of disease states that can be caused or alleviated by changes in diet. Deficiencies, excesses, and imbalances in diet can produce negative impacts on health, which may lead to various health problems such as scurvy, obesity, or osteoporosis, diabetes, cardiovascular diseases as well as psychological and behavioral problems. The science of nutrition attempts to understand how and why specific dietary aspects influence health.

Nutrients in food are grouped into several categories. Macronutrients are fat, protein, and carbohydrates. Micronutrients are the minerals and vitamins. Additionally, food contains water and dietary fiber.

As previously discussed, the body is designed by natural selection to enjoy sweet and fattening foods for evolutionary diets, ideal for hunters and gatherers. Thus, sweet and fattening foods in nature are typically rare and are very pleasurable to eat. In modern times, with advanced technology, enjoyable foods are easily available to consumers. Unfortunately, this promotes obesity in adults and children alike.

Hunger and starvation
Food deprivation leads to malnutrition and ultimately starvation. This is often connected with famine, which involves the absence of food in entire communities. This can have a devastating and widespread effect on human health and mortality. Rationing is sometimes used to distribute food in times of shortage, most notably during times of war.[117]

Starvation is a significant international problem. Approximately 815 million people are undernourished, and over 16,000 children die per day from hunger-related causes.[154] Food deprivation is regarded as a deficit need in Maslow's hierarchy of needs and is measured using famine scales.[155]

Food waste
This section is an excerpt from Food loss and waste.[edit]

Fruit and vegetables in a dumpster, discarded uneaten

Food recovered by food waste critic Rob Greenfield in Madison, Wisconsin from two days of recovery from dumpsters.[156]
Food loss and waste is food that is not eaten. The causes of food waste or loss are numerous and occur throughout the food system, during production, processing, distribution, retail and consumption. Overall, about one third of the world's food is thrown away.[157]

Food loss and waste is a major part of the impact of agriculture on climate change (it amounts to 3.3 billion tons of CO2 emissions annually[158][159]) and other environmental issues. . Moreover, food waste that is not handled or reclaimed properly, i.e. through composting, can have many negative environmental consequences. For example, landfill gas from anaerobic digestion of organic matter is a major source of the greenhouse gas methane, and un-reclaimed phosphorus in food waste, leads to further phosphate mining. Moreover reducing food waste in all parts of the food system is an important part of reducing the environmental impact of agriculture, by reducing the total amount of water, land use and other resources.

The UN's Sustainable Development Goal Target 12.3 seeks to "halve global per capita food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses" by 2030.[160] Climate change mitigation strategies prominently feature reducing food waste.[161]
        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="g8.html">POLICY</a></li>
			<li><a href="g9.html">SAFETY</a></li>
			<li><a href="g10.html">DIET</a></li>
        </ul>
    </body>
</html>