<!DOCTYPE html>
<html lang="en">
    <head>
        <title>STATISTICS</title>
    </head>
    <body>
        
        <p>
		A study from 2009 suggests that there may be individual differences that help explain who uses social media and who does not: extraversion and openness have a positive relationship with social media, while emotional stability has a negative sloping relationship with social media.[69] A separate study from 2015 found that people with a higher social comparison orientation appear to use social media more heavily than people with low social comparison orientation.[70]

Data from Common Sense Media has suggested that children under the age of 13 in the United States use social networking services despite the fact that many social media sites have policies that state one must be at least 13-years-old or older to join.[71] In 2017, Common Sense Media conducted a nationally representative survey of parents of children from birth to age 8 and found that 4% of children at this age used social media sites such as Instagram, Snapchat, or (now-defunct) Musical.ly “often” or “sometimes.”[72] A different nationally representative survey by Common Sense in 2019 surveyed young Americans ages 8–16 and found that about 31% of children ages 8–12 ever use social media such as Snapchat, Instagram, or Facebook.[73] In that same survey, when American teens ages 16–18 were asked when they started using social media, 28% said they started to use it before they were 13-years-old. However, the median age of starting to use social media was 14-years-old.

In June 2020, during the COVID-19 pandemic, a nationally representative survey by Cartoon Network and the Cyberbullying Research Center surveyed Americans tweens (ages 9–12) found that the most popular overall application in the past year was YouTube (67%).[74] (In general, as age increased, the tweens were more likely to have used major social media apps and games.) Similarly, a nationally representative survey by Common Sense Media conducted in 2020 of Americans ages 13–18 found that YouTube was also the most popular social media service (used by 86% of 13- to 18-year-old Americans in the past year).[75]
        </p>
        
        <div>Link : </div>
        
        <ul>
            <li><a href="h4.html">SOCIAL IMPACTS</a></li>
			<li><a href="h5.html">CRITICISM</a></li>
			<li><a href="h6.html">FACEBOOK</a></li>
			<li><a href="h7.html">WHATSAPP</a></li>
			<li><a href="h8.html">INSTAGRAM</a></li>
			<li><a href="h9.html">TWITTER</a></li>
			<li><a href="h10.html">LINKED IN</a></li>
        </ul>
    </body>
</html>